.devcontainer
.github
.vscode
.git
tests
node_modules
vendor
./docker/Dockerfile

.dockerignore
.editorconfig
.env
.env.example
.env.ci
.gitattributes
.gitignore
.prettierignore
.prettierc
.todo
docker-compose.local.yml
.eslint.config
phpstan.neon
phpunit.xml
README.md
pint.json
rector.php
